.app.dark {
  --bg-color: #090949;
  --inverted-bg-color: #e9e9ea;

  --primary-color: #049604;
  --secondary-color: #04ff04;

  --primary-color-inverted: #0232c2;
  --secondary-color-inverted: #0452ff;
}
